@font-face {
  font-family: Yallowtail;
  src: url('Yellowtail-Regular.ttf') format('truetype');
}
body{
  background-image: url("Media/sfondo1.png");
  background-size: cover;
  position: absolute;

}
.menu{
  /*border: 2px solid;*/
  position: fixed;
  border-color: black;
  border-radius: 10px 10px 10px 10px;
  box-shadow:  10px  10px 5px #ecbee4,
              -10px -10px 5px #ecbee4,
               10px -10px 5px #ecbee4,
              -10px  10px 5px #ecbee4;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -1%;
  width: 50%;
  max-width: 1080px;
  min-width: 500px;
  background-color: #25be3d;
  padding-left: 5%;
  padding-right: 5%;
  z-index:1;
}


.menu h1{
  font-family: Yallowtail;
}
.menu ul{
  text-align:center;
  margin-left:-10%;
  padding-left:0;
}
.menu li{
  font-size: 200%;
  font-family: Yallowtail;
  list-style-type:none;
  display: inline
}

.menu a{
  text-decoration: underline overline dotted #d266c1;
  text-decoration-thickness: 10%;
  margin-left:10%

}

.boxcontatti{
  display: flex;
  flex-direction: column;
  align-items: stretch;
	border:3px solid;
	border-color:#ffcc99;
	width:60%;
	height:100%;
	margin-left:240%;
  width: 100%;

	margin-top:30%;
	border-radius:10px;
	background-color:white;
	text-align:center;
	font-size:20px;
  padding-left: 10%;
  padding-right: 10%;

}
