@font-face {
  font-family: Yallowtail;
  src: url('Yellowtail-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'DynaPuff';
  src:  url('Lobster-Regular.ttf') format('truetype');

}



body{
  background-color: #df92d3;
  position: absolute;



}

.menu{
  /*border: 2px solid;*/
  position: fixed;
  border-color: black;
  border-radius: 10px 10px 10px 10px;
  box-shadow:  10px  10px 5px #ecbee4,
              -10px -10px 5px #ecbee4,
               10px -10px 5px #ecbee4,
              -10px  10px 5px #ecbee4;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -1%;
  width: 50%;
  max-width: 1080px;
  min-width: 500px;
  background-color: #25be3d;
  padding-left: 5%;
  padding-right: 5%;
  z-index:1;
}


.menu h1{
  font-family: Yallowtail;
}

.menu a{
  text-decoration: underline overline dotted #d266c1;
  text-decoration-thickness: 10%;
  margin-left:10%

}
.prodotti{
  position: relative;
  float: left;
	text-decoration-thickness:10%;
	margin-left:8%;
	text-align:center;

	background-color:rgb(175,238,238);
	border: 3px solid white;
  margin-top: 2%;
}

.prodotti img{
  height: ;
  width: ;
}

.hometable{
	position: absolute;
	border: 3px solid black;
	margin-left: 180%;
	margin-top: 80%;

  height: calc(270% - 30px);
  width: calc(450% - 30px);
}

.hometable h2{
  margin-left: 5%;
  font-family: Yallowtail;
  color: #25be3d;
}

.hometable #line1{
  text-decoration: line-through;
  margin-bottom: 5%;
  margin-left: 40%;
  margin-top: -22%;
}
.hometable #line2{
  text-decoration: line-through;
  margin-bottom: 5%;
  margin-left: 40%;
  margin-top: -24%;
}
.hometable #line3{
  text-decoration: line-through;
  margin-bottom: 5%;
  margin-left: 40%;
  margin-top: -28%;
}
.hometable #blink1{
	text-decoration: blink;

}

.Curiosita{
  float: right;
  margin-left: 55%;
  margin-right: 5%;
  background-color:rgb(175,238,238);
  border: 3px solid white;
  margin-top: -50%;
  height: 85%;
}

.Curiosita h1 {
  color:black;
  font-family: 'DynaPuff';

}

.loved{
  position: absolute;
  margin-top: 370%;
  margin-left: 198%;
}

.prodotti2{
  position: relative;
	text-decoration-thickness:10%;


	background-color:rgb(175,238,238);
	border: 3px solid white;
  width: 1000px;
  height: 400px;
}

td{
	border:3px solid black;
}
.sfondo{
	background-color=#ffffff;
}
